@theme {
  --color-brand-50: #eef7ff;
  --color-brand-100: #d8ecff;
  --color-brand-200: #b8deff;
  --color-brand-300: #89cbff;
  --color-brand-400: #54b2ff;
  --color-brand-500: #1f96ff;
  --color-brand-600: #0a79dd;
  --color-brand-700: #0c61b2;
  --color-brand-800: #10508f;
  --color-brand-900: #124475;

  --color-surface-50: #f8fafb;
  --color-surface-100: #edf2f5;
  --color-surface-200: #d8e1e8;
  --color-surface-300: #bac9d4;
  --color-surface-400: #92a8b8;
  --color-surface-500: #6f879a;
  --color-surface-600: #546b7d;
  --color-surface-700: #435767;
  --color-surface-800: #374754;
  --color-surface-900: #2c3944;
  --color-surface-950: #1e272f;
}